html {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	color: #fdf6e3;
	text-decoration: none;
	height: 100%;
	font: 20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 0;
	margin-left: 5%;
	margin-right: 5%;
	line-height: 20px;
	background-position: center center;
	display: block;
	background-attachment: fixed;
	width: 90%;
	margin-bottom: 5em;
	
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2em;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
h3 {
	font-size: 1.6em;
	line-height: 2em;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
p {
	font-size: 1em;
}

.title h1 {
	font-family: "HelveticaNeue-Light";
	font-weight: normal;
	margin: 0 40px 20px;
	padding: 20px;
	padding-bottom: 30px;
	line-height: 1em;
	text-align: center;
	border: 2px solid rgba(255,255,255,.6);
	border-top: none;
	-webkit-border-bottom-right-radius: 14px;
	-webkit-border-bottom-left-radius: 14px;
	-moz-border-radius-bottomright: 14px;
	-moz-border-radius-bottomleft: 14px;
	border-bottom-right-radius: 14px;
	border-bottom-left-radius: 14px;
	background-color: rgba(255,255,255,0.5);
	text-shadow: 0 0 5px #ddd;
	color: #222;
}

.block {
	border-radius: 5px;
	color: #eee;
	text-shadow: 0 0 10px #333;
	padding: 10px 15px;
	border-top: 1px solid rgba(30,30,30,0.41);
	border-bottom: 1px solid rgba(30,30,30,0.41);
	background: #657b83;
}

#img {
	float:left;
	width: 220px;
	height: 200px;
	display: table;
}
#browse h2 {
	text-align: center;
}

#browse a {
	color: #eee;
	max-width: 200px;
	width: 200px;
	height: 160px;
}

#browse a:hover {
	text-shadow: 0 0 20px #d33682;
}

#browse a.img {
	text-decoration: none;
	text-shadow: 0 0 10px #000;
	text-align:center;
	display: table-cell; vertical-align: middle;
	border-radius: 2px;
	background-color: rgba(0,0,0,0);
	padding: 10px;
	width: 220px;
	-webkit-transition: background-color 0.3s ease-in;
}

#browse a.img:hover {
	background-color: #d33682;
	text-shadow: 0 0 20px #04a;
	-webkit-transition: background-color 0.3s ease-out;
}

#browse a.img img {
	max-width: 200px;
	max-height:200px;
	margin: 0 auto;
	border-radius: 2px;
}


#browse .file {
	margin: 20px 10px;
	clear: both;
}

#browse {
	padding-bottom: 80px;
}

#browse .file a {
}
